Node-Red-LED-Controller/flow-toggle-led.json.txt
[
    {
        "id": "d02a6339.95194",
        "type": "tab",
        "label": "Tri-Color LED (RGB)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "899a7bf5.128a38",
        "type": "arduino in",
        "z": "d02a6339.95194",
        "name": "Trim Pot (A0)",
        "pin": "0",
        "state": "ANALOG",
        "arduino": "b4543f4.a6ae6c",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "493954c8.b1379c"
            ]
        ]
    },
    {
        "id": "43daab6f.d2d554",
        "type": "comment",
        "z": "d02a6339.95194",
        "name": "Demonstrate: Trim Potentiometer by Gerald Hurdle (hurdleg@algonquincollege.com)",
        "info": "",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "691ed2ae.b60a0c",
        "type": "comment",
        "z": "d02a6339.95194",
        "name": "Pre-Req: Teensy is running Standard Firmata Plus",
        "info": "",
        "x": 210,
        "y": 80,
        "wires": []
    },
    {
        "id": "493954c8.b1379c",
        "type": "range",
        "z": "d02a6339.95194",
        "minin": "0",
        "maxin": "1023",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 260,
        "y": 480,
        "wires": [
            [
                "f0989c2c7017b4f1"
            ]
        ]
    },
    {
        "id": "740c8577d60c5ba5",
        "type": "arduino in",
        "z": "d02a6339.95194",
        "name": "Pushbutton (Pin 3)",
        "pin": "3",
        "state": "INPUT",
        "arduino": "b4543f4.a6ae6c",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "8ab9b2ac835ad907"
            ]
        ]
    },
    {
        "id": "8ab9b2ac835ad907",
        "type": "debounce",
        "z": "d02a6339.95194",
        "time": "500",
        "name": "debounce 500mS",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "560fabc7536dc456"
            ]
        ]
    },
    {
        "id": "560fabc7536dc456",
        "type": "function",
        "z": "d02a6339.95194",
        "name": "Cycle Button Click 1, 2, 3, 1...",
        "func": "// Call flow.get(\"rgbState\") to get the integer value of the flow - scoped variable named rgbState; if the variable is not found(undefined), default to integer 0; assign the value of rgbState to a local variable named clickCount\nlet rgbState = flow.get(\"rgbState\");\nif (rgbState == undefined) {\n    rgbState = 0;\n}\n\nvar clickCount = rgbState;\n\n// Increment the locally scoped variable clickCount by 1\nclickCount += 1;\n\n// IF clickCount equal 4\n// THEN reset clickCount to to 1\nif (clickCount == 4) {\n    clickCount = 1;\n}\n\n// Call flow.set(\"rgbState\", clickCount) to remember the value of clickCount\nflow.set(\"rgbState\", clickCount)\n\n// Set the msg.payload to clickCount\nmsg.payload = clickCount;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 200,
        "wires": [
            [
                "e25e11335d64fe39",
                "2922cf35390321c7"
            ]
        ]
    },
    {
        "id": "e25e11335d64fe39",
        "type": "switch",
        "z": "d02a6339.95194",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "7d451971c857a15e",
                "9b13c08273ea7b54",
                "30e26a2124b850ca"
            ],
            [
                "b508375bd1d3186c",
                "dcb0ca264364a784",
                "30e26a2124b850ca"
            ],
            [
                "7016b4ec5c5f292f",
                "dcb0ca264364a784",
                "9b13c08273ea7b54"
            ]
        ]
    },
    {
        "id": "7d451971c857a15e",
        "type": "function",
        "z": "d02a6339.95194",
        "name": "Dim",
        "func": "// Call flow.get(\"dimmer\") to get the integer value of the flow - scoped variable named dimmer; if the variable is not found(undefined), default to integer 0; assign the value of dimmer to a local variable named dimmer\nlet dimmer0 = flow.get(\"dimmer\");\nif (dimmer0 == undefined) {\n    dimmer0 = 0;\n}\n\nvar dimmer =  dimmer0;\n// Calculate the pin's dimmed value: var pinValue = Number(255 * dimmer / 100).toFixed();\nvar pinValue = Number(255 * dimmer / 100).toFixed();\n\n// Call flow.set(\"dimValue\", pinValue) to remember the value of pinValue\nflow.set(\"dimValue\", pinValue)\n\n// Set the msg.payload to pinValue\nmsg.payload = (pinValue);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 80,
        "wires": [
            [
                "9984316619df2caf",
                "72fef48e176752e3"
            ]
        ]
    },
    {
        "id": "dcb0ca264364a784",
        "type": "change",
        "z": "d02a6339.95194",
        "name": "Turn Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 120,
        "wires": [
            [
                "9984316619df2caf"
            ]
        ]
    },
    {
        "id": "b508375bd1d3186c",
        "type": "function",
        "z": "d02a6339.95194",
        "name": "Dim",
        "func": "// Call flow.get(\"dimmer\") to get the integer value of the flow - scoped variable named dimmer; if the variable is not found(undefined), default to integer 0; assign the value of dimmer to a local variable named dimmer\nlet dimmer0 = flow.get(\"dimmer\");\nif (dimmer0 == undefined) {\n    dimmer0 = 0;\n}\n\nvar dimmer =  dimmer0;\n// Calculate the pin's dimmed value: var pinValue = Number(255 * dimmer / 100).toFixed();\nvar pinValue = Number(255 * dimmer / 100).toFixed();\n\n// Call flow.set(\"dimValue\", pinValue) to remember the value of pinValue\nflow.set(\"dimValue\", pinValue)\n\n// Set the msg.payload to pinValue\nmsg.payload = (pinValue);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 180,
        "wires": [
            [
                "b898e08d4b9d829c",
                "5ba502b3275c7f76"
            ]
        ]
    },
    {
        "id": "9b13c08273ea7b54",
        "type": "change",
        "z": "d02a6339.95194",
        "name": "Turn Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "b898e08d4b9d829c"
            ]
        ]
    },
    {
        "id": "7016b4ec5c5f292f",
        "type": "function",
        "z": "d02a6339.95194",
        "name": "Dim",
        "func": "// Call flow.get(\"dimmer\") to get the integer value of the flow - scoped variable named dimmer; if the variable is not found(undefined), default to integer 0; assign the value of dimmer to a local variable named dimmer\nlet dimmer0 = flow.get(\"dimmer\");\nif (dimmer0 == undefined) {\n    dimmer0 = 0;\n}\n\nvar dimmer =  dimmer0;\n// Calculate the pin's dimmed value: var pinValue = Number(255 * dimmer / 100).toFixed();\nvar pinValue = Number(255 * dimmer / 100).toFixed();\n\n// Call flow.set(\"dimValue\", pinValue) to remember the value of pinValue\nflow.set(\"dimValue\", pinValue)\n\n// Set the msg.payload to pinValue\nmsg.payload = (pinValue);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 280,
        "wires": [
            [
                "eaf91f486c246f1a",
                "b98054dfaafcdc89"
            ]
        ]
    },
    {
        "id": "30e26a2124b850ca",
        "type": "change",
        "z": "d02a6339.95194",
        "name": "Turn Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 320,
        "wires": [
            [
                "b98054dfaafcdc89"
            ]
        ]
    },
    {
        "id": "72fef48e176752e3",
        "type": "debug",
        "z": "d02a6339.95194",
        "name": "Red",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "9984316619df2caf",
        "type": "arduino out",
        "z": "d02a6339.95194",
        "name": "Red (Pin 19)",
        "pin": "19",
        "state": "PWM",
        "arduino": "b4543f4.a6ae6c",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "5ba502b3275c7f76",
        "type": "debug",
        "z": "d02a6339.95194",
        "name": "Green",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "b898e08d4b9d829c",
        "type": "arduino out",
        "z": "d02a6339.95194",
        "name": "Green (Pin 18)",
        "pin": "28",
        "state": "PWM",
        "arduino": "b4543f4.a6ae6c",
        "x": 820,
        "y": 220,
        "wires": []
    },
    {
        "id": "eaf91f486c246f1a",
        "type": "debug",
        "z": "d02a6339.95194",
        "name": "Blue",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "b98054dfaafcdc89",
        "type": "arduino out",
        "z": "d02a6339.95194",
        "name": "Blue (Pin 15)",
        "pin": "15",
        "state": "PWM",
        "arduino": "b4543f4.a6ae6c",
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "f0989c2c7017b4f1",
        "type": "rbe",
        "z": "d02a6339.95194",
        "name": "rbe node: block unless value changes",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 490,
        "y": 480,
        "wires": [
            [
                "5dd5f494c10e27ce"
            ]
        ]
    },
    {
        "id": "5dd5f494c10e27ce",
        "type": "function",
        "z": "d02a6339.95194",
        "name": "cache dimmer",
        "func": "flow.set('dimmer', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 480,
        "wires": [
            [
                "e25e11335d64fe39"
            ]
        ]
    },
    {
        "id": "2922cf35390321c7",
        "type": "debug",
        "z": "d02a6339.95194",
        "name": "CLICK COUNT IS:",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 280,
        "wires": []
    },
    {
        "id": "b4543f4.a6ae6c",
        "type": "arduino-board",
        "device": "COM5",
        "name": "",
        "samplingInt": "",
        "log2consol": false
    }
]